* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

ul, ol {
	list-style-type: none;
}

a {
	color: #444;
	transition: 300ms;
}

a:hover {
	text-decoration: none;
	color: #f27c21;
}

body {
	font-family: 'OpenSans-Regular';
	color: #444;
}

